%h2 Edit Account

= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  %div
    = f.label :name
    .input= f.text_field :name
    %br/
  %div
    = f.label :email
    .input= f.email_field :email
    %br/
  %div
    = f.label :password
    .input
      = f.password_field :password
      %span.help-block Leave blank if you don't want to change it
    %br/
  %div
    = f.label "Password (again)"
    .input= f.password_field :password_confirmation
    %br/
  %div
    = f.label :current_password
    .input
      = f.password_field :current_password
      .help-block We need your current password to confirm your changes
    
  %div
    %br/
    .input= f.submit "Save Changes"
    
