- @no12 = true

.container_12
  .grid_12
    %h2 Edit Account
    
.container_12
  .grid_8
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
      = devise_error_messages!
      %div
        = f.label :email
        .input= f.email_field :email
        %br/
      %div
        = f.label :password
        .input
          = f.password_field :password
          %span.help-block Leave blank if you don't want to change it
        %br/
      %div
        = f.label "Password (again)"
        .input
          = f.password_field :password_confirmation
          %span.help-block Same goes for this one
        
        %br/
        %br/
        
      .input
        %h3 Profile Picture
      = image_tag resource.gravatar_url, :class => 'icon float_left', :style => 'margin-left: 50px;'
      .input
        %p{:style => 'margin-top: 0px;'}
          This is your picture as it currently appears on this site. We use
          = link_to 'Gravatars', 'http://gravatar.com'
          for profile images, which are associated with your email address.
          To add or change yours, please #{link_to 'sign up at their site', 'https://en.gravatar.com'}.
    
      %br/
      %br/
      
      .input
        %h3 Personal Details
        
      %div
        = f.label :name
        .input= f.text_field :name
        %br/
      %div
        = f.label 'Your website URL'
        .input= f.text_field :url, :placeholder => 'http://'
        %br/
      %div
        = f.label 'Twitter'
        .input
          .input-prepend
            %span.add-on @
            = f.text_field :twitter, :style => 'width: 278px;'
        %br/
      %div
        = f.label "A short bio"
        .input
          = f.text_area :bio, :style => 'height: 4em; width: 300px;'
          .help-block Up to 140 characters
        %br/
      
      %br/
              
      %h3.input Email Preferences
      .input
        %ul.inputs-list
          %li
            %label
              = check_box_tag 'user[settings[email.payment]]', '1', resource.settings['email.payment']
              %span Send me monthly notification and summary of my payments
          %li
            %label
              = check_box_tag 'user[settings[email.new_pledge]]', '1', resource.settings['email.new_pledge']
              %span Notify me when someone pledges to fund my taxes
          %li
            %label
              = check_box_tag 'user[settings[email.comment]]', '1', resource.settings['email.comment']
              %span Mail me when people comment on taxes I manage
          %li
            %label
              = check_box_tag 'user[settings[email.tax_message]]', '1', resource.settings['email.tax_message']
              %span Mail me news and updates from tax managers
              
        %br/
        
      %div
        = f.label :current_password
        .input
          = f.password_field :current_password
          .help-block We need your current password to confirm your changes
        
      %div
        %br/
        .input= f.submit "Save Changes"
    

  .grid_4
    