- if flash[:pending_pledge_tax]
  - amount = flash[:pending_pledge_amount]
  - tax_name = Tax.find(flash[:pending_pledge_tax]).name
  .notification
    %h4 Thanks for pledging $#{amount} to #{tax_name}! You're almost done.

.container_12
  .grid_6

    %h2 Sign Up

    = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      = devise_error_messages!
      - if flash[:pending_pledge_tax]
        = hidden_field_tag :pending_pledge_tax, flash[:pending_pledge_tax]
        = hidden_field_tag :pending_pledge_amount, flash[:pending_pledge_amount]
      %div
        = f.label :email
        .input= f.email_field :email
        %br/
      %div
        = f.label :name
        .input= f.text_field :name
        %br/
      %div
        = f.label :password
        .input= f.password_field :password
        %br/
      %div
        = f.label 'Password (again)'
        .input= f.password_field :password_confirmation
        %br/
      %div
        .input= f.submit "Sign up", :class => 'btn'

    = render :partial => "devise/shared/links"

  .grid_6{:style => 'padding-top: 3em;'}
    .callout
      %p
        You need to make an AwesomeTax account before continuing.
        Your account will let you manage your taxes, view your giving over time, and stay updated on projects.