.notification
  %h4
    = "Thanks for pledging $#{params[:amount]} to #{@tax.name}!"
    %br
    You'll be redirected to PayPal in a few seconds to complete the payment.
.grid_12.centered
  = render partial: "/shared/new_pledge", locals: {pledge: @pledge}

= javascript_include_tag "confirm_pledge"