- @no12 = true
= javascript_include_tag 'bootstrap-tabs'

.container_12.container
  .grid_12
    %h2 Management
    %br/
    
    %ul.tabs{'data-tabs' => 'tabs'}
      %li.active= link_to "Taxes (#{@taxes.length})", '#taxes'
      %li= link_to "Users (#{@users.length})", '#users'
      %li= link_to "Transactions (#{@transactions.length})", '#transactions'
      %li= link_to "Comments (#{@comments.length})", '#comments'
      
      
    .tab-content
      #taxes.active
        %h3 Taxes
        .grid_6.alpha
          = render :partial => 'shared/tax', :collection => @taxes
        .grid_6.omega
            
      #users
        %h3 Users
        .grid_8.alpha
          %table{:width => '100%'}
            %thead
              %tr
                %th Name
                %th Email
                %th Status
                %th Joined
                %th Inviter
            %tbody
              - @users.each do |u|
                %tr
                  %td= link_to u.name, u
                  %td= u.email
                  %td= u.status_s
                  %td= u.created_at.to_date
                  %td= u.invited_by.nil? ? '-' : link_to(u.invited_by.name, u.invited_by)
              
        .grid_4.omega
          .callout
            %h4 Invite a Trustee
            = form_tag(invite_path, :method => :post) do
              = email_field_tag :email, nil, :placeholder => "Email address"
              %br/
              %br/
              = text_field_tag :name, nil, :placeholder => "Their name"
              .help-block{:style => 'padding-top: 1em;'}
                They'll receive an invitation to create an account as a trustee. That means
                they'll be able to create taxes, receive funding, and invite other trustees.
              %br/
              %br/
              = submit_tag 'Send invitation'
        

      #transactions
        %h3 Transactions
        %table{:width => '100%'}
          %thead
            %tr
              %th User
              %th Type
              %th Amount
              %th Tax
              %th Date
          %tbody
            - @transactions.each do |t|
              %tr{:style => 'border-top: 1px dotted #aaa;'}
                %td= (t.user_id == 0) ? 'LOVELAND' : (link_to h(t.user.name), t.user)
                %td= t.kind == Transaction::SENT ? 'Sent' : 'Received'
                %td= number_to_currency(t.amount)
                %td= link_to h(t.pledge.tax.name), tax_path(t.pledge.tax)
                %td= t.created_at.to_date

      #comments
        %h3 Comments
        %table{:width => '100%'}
          %thead
            %tr
              %th User
              %th Tax
              %th Comment
              %th Posted
          %tbody
            - @comments.each do |c|
              %tr
                %td= link_to c.user.name, c.user
                %td= link_to c.tax.name, c.tax
                %td= c.body
                %td= c.created_at

