- @no12 = true
/ = javascript_include_tag 'bootstrap-tabs'

.container_12.container
  .grid_12
    %h2 Management
    %br/

    %ul.tabs
      %li.active= link_to "Taxes (#{@taxes.length})", '#taxes', 'data-toggle' => 'tab'
      %li{'data-toggle' => 'tab'}= link_to "Users (#{@users.length})", '#users', 'data-toggle' => 'tab'
      %li= link_to "Transactions (#{@transactions.length})", '#transactions', 'data-toggle' => 'tab'
      %li= link_to "Comments (#{@comments.length})", '#comments', 'data-toggle' => 'tab'
    :javascript
      $(document).ready(function() {
        if(window.location.hash != '') {
          $('a[href="' + window.location.hash + '"]').click();
        }
      });


    .tab-content
      #taxes.active
        %h3 Taxes
        .grid_6.alpha
          = render :partial => 'shared/tax', :collection => @taxes
        .grid_6.omega

      #users
        %h3 Users
        .grid_8.alpha
          %table{:width => '100%'}
            %thead
              %tr
                %th Name
                %th Email
                %th Status
                %th Joined
            %tbody
              - @users.each do |u|
                %tr
                  %td= link_to u.name, u
                  %td= u.email
                  %td= u.status_s
                  %td= u.created_at.to_date

      #transactions
        = render :partial => 'shared/transactions', :locals => {transactions: @transactions}

      #comments
        %h3 Comments
        %table{:width => '100%'}
          %thead
            %tr
              %th User
              %th Tax
              %th Comment
              %th Posted
              %th Actions
          %tbody
            - @comments.each do |c|
              %tr
                %td= link_to c.user.name, c.user
                %td= link_to c.tax.name, c.tax
                %td= c.body
                %td= c.created_at
                %td= link_to 'Delete', comment_path(c), { :method => :delete, :confirm => "Are you sure? It'll be gone forever." }

