- @no12 = true

.container_12.container
  .grid_12
    %h2 Management

.container_12.container
  .grid_6
    %h3 Users
    - @users.each do |u|
      = link_to h(u.name), u
      =h "(#{u.email})"
      %br/

  .grid_6
    %h3 Taxes
    - @taxes.each do |t|
      %b
        = link_to h(t.name), tax_path(t)
        by
        = link_to h(t.owner.name), t.owner
        = "(#{t.status_string})"
        %br/
      - t.pledges.active.each do |p|
        &nbsp;&nbsp;&nbsp;&nbsp;
        = number_to_currency(p.amount)
        from
        = link_to h(p.user.name), p.user
        %br/

.container_12.container
  .grid_12
    %br/
    %h3 Transactions
    %table{:width => '100%'}
      %thead{:style => 'font-weight: bold;'}
        %tr
          %td User
          %td Type
          %td Amount
          %td Tax
          %td Date
      %tbody
        - @transactions.each do |t|
          %tr{:style => 'border-top: 1px dotted #aaa;'}
            %td= (t.user_id == 0) ? 'LOVELAND' : (link_to h(t.user.name), t.user)
            %td= t.kind == Transaction::SENT ? 'Sent' : 'Received'
            %td= number_to_currency(t.amount)
            %td= link_to h(t.pledge.tax.name), tax_path(t.pledge.tax)
            %td= t.created_at.to_date
