- @no12 = true
- @subtitle = @user.name

= javascript_include_tag 'bootstrap-tabs'

.container_12.container
  .grid_12
    %h2= @user.name
    %br/

    %ul.tabs{'data-tabs' => 'tabs'}
      - skip = (@pledges.empty? and !@managed.empty?)
      %li{:class => skip ? '' : 'active'}= link_to "My Giving", '#giving'
      %li{:class => skip ? 'active' : ''}= link_to "My Taxes", '#taxes'
      - if @myself
        %li= link_to 'Messages', '#messages'
        %li= link_to "History", '#history'
        
    .tab-content
      #giving{:class => skip ? '' : 'active'}
        %h3 My Giving
        - if @myself
          %h3 I give #{number_to_currency(@total_pledges)} monthly to #{pluralize(@active_count, 'tax')}
        
        - if @pledges.blank?
          %p I haven't started funding any taxes yet.
        - else
          .grid_6.alpha
            = render :partial => 'shared/pledge', :collection => @pledges, :locals => { :mine => @myself }
          .grid_6.omega
        
      #taxes{:class => skip ? 'active' : ''}
        %h3 My Taxes
        - if @managed.blank?
          %p
            I haven't started any yet, but it's free and easy to #{link_to "create a tax", new_tax_path}.
        - else
          .grid_6.alpha
            = render :partial => 'shared/tax', :collection => @managed, :locals => { :mine => @myself }
          .grid_6.omega

      - if @myself
        #messages
          %h3 Messages
          .grid_8.alpha
            %p You'll receive periodic communications here from the taxes you pledge or subscribe to.
          .grid_4.omega
          
        #history
          .grid_8.alpha
            %h3 Transaction History
            - if @transactions.blank?
              %p You don't have any transactions yet. Taxes are collected on the 15th of each month.
            
            - unless @transactions.blank?
              %br/
              %table{:width => '100%'}
                %thead{:style=>'font-weight: bold;'}
                  %tr
                    %td Tax
                    %td Amount
                    %td Type
                    %td Date
                %tbody
                  - @transactions.each do |t|
                    %tr{:style => 'border-top: 1px dotted #aaa;'}
                      %td= link_to h(t.pledge.tax.name), tax_path(t.pledge.tax)
                      %td= number_to_currency(t.amount)
                      %td= t.kind == Transaction::SENT ? 'Sent' : 'Received'
                      %td= t.created_at.to_date
      
        .grid_4.omega
          - if Rails.env != 'production'
            .callout
              %b For testing only:
              you may also
              = link_to 'execute these pending transactions now', collect_path
              simulating tax-collection day. (This message won't appear in the public release of the site.)
      
