- @no12 = true
- @subtitle = @user.name

= javascript_include_tag 'bootstrap-tabs'

.container_12.container
  .grid_12
    %span.h2= @user.name
    - if @user.admin?
      %span.label{:style => 'margin-left: 2em;'} Administrator
    - if @user.trustee?
      %span.label{:style => 'margin-left: 2em;'} Trustee
    %br/
    %br/

    %ul.tabs{'data-tabs' => 'tabs'}
      - skip = (@pledges.empty? and !@managed.empty?)
      %li{:class => skip ? '' : 'active'}= link_to "My Giving", '#giving'
      %li{:class => skip ? 'active' : ''}= link_to "My Taxes", '#taxes'
      - if @myself
        %li= link_to 'Messages', '#messages'
        %li= link_to "History", '#history'
        
    .tab-content
      #giving{:class => skip ? '' : 'active'}
        %h3 My Giving
        - if @pledges.blank?
          %p I haven't started funding any taxes yet.
        - else
          .grid_6.alpha
            = render :partial => 'shared/pledge', :collection => @pledges, :locals => { :mine => @myself }
          .grid_6.omega
            - if @myself
              .stats
                %h4 Funding:
                %h3= pluralize(@active_count, 'tax')
                %h4 Monthly Total:
                %h3= number_to_currency(@active_count)
                %h4 Given to Date:
                %h3= number_to_currency(@total_given)

        
      #taxes{:class => skip ? 'active' : ''}
        %h3 My Taxes
        - if @managed.blank?
          %p
            I haven't started any yet, but it's free and easy to #{link_to "create a tax", new_tax_path}.
        - else
          .grid_6.alpha
            = render :partial => 'shared/tax', :collection => @managed, :locals => { :mine => @myself }
          .grid_6.omega
            - if @myself
              .stats
                %h4 Receiving:
                %h3= pluralize(@managed_count, 'tax')
                %h4 Monthly Total:
                %h3= number_to_currency(@managed_sum)
                %h4 Income to Date:
                %h3= number_to_currency(@total_received)

      - if @myself
        #messages
          %h3 Messages
          .grid_8.alpha
            %p You'll receive periodic communications here from the taxes you pledge or subscribe to.
            = render :partial => 'shared/message', :collection => @messages
            
          .grid_4.omega
            - if @managed.blank?
              %p If you had started any taxes, you would be able to broadcast messages to their funders.
            - else
              %h4 Send a Message
              %p You can broadcast to all present and future funders of the taxes you manage.
              = link_to 'Compose a message', new_message_path
              %br/
              %br/
              - unless @sent.blank?
                %h4 Messages I've Written
                - icons = { Message::DRAFT => '(Draft)', Message::PUBLISHED => '(Sent)', Message::TRASH => '(Trash)' }
                - @sent.each do |m|
                  = link_to m.effective_title, edit_message_path(m)
                  = raw icons[m.status]
                  %br/
          
        #history
          .grid_8.alpha
            %h3 Transaction History
            - if @transactions.blank?
              %p You don't have any transactions yet.
            
            - unless @transactions.blank?
              %br/
              %table{:width => '100%'}
                %thead
                  %tr
                    %th Tax
                    %th Amount
                    %th Type
                    %th Date
                %tbody
                  - @transactions.each do |t|
                    %tr{:style => 'border-top: 1px dotted #aaa;'}
                      %td= link_to t.pledge.tax.name, tax_path(t.pledge.tax)
                      %td= number_to_currency(t.amount)
                      %td= t.kind == Transaction::SENT ? 'Sent' : 'Received'
                      %td= t.created_at.to_date
      
        .grid_4.omega
          - if Rails.env != 'production'
            .callout
              %b For testing only:
              you may also
              = link_to 'execute these pending transactions now', :controller => 'pledges', :action => 'collect'
              simulating tax-collection day. (This message won't appear in the public release of the site.)
      
