- @no12 = true
- @subtitle = @user.name

.container_12.container.profile
  .grid_12
    = image_tag @user.picture_url, :class => 'icon float_left'
    %h2= @user.name
    .links
      - if @user.url
        = link_to @user.url, @user.url
      - if @user.url and @user.twitter
        &middot;
      - if @user.twitter
        @#{link_to @user.twitter, "http://twitter.com/#{@user.twitter}"}
    - @user.labels.each do |label|
      %span.label= label

    .clear
    - if @user.bio
      %p= @user.bio


    %ul.tabs{:style => 'margin-top: 2em;'}
      - skip = (@pledges.empty? and !@supervised.empty?)
      %li{:class => skip ? '' : 'active'}
        = link_to "My Giving", '#giving', 'data-toggle' => 'tab'
      %li{:class => skip ? 'active' : ''}
        = link_to "My Taxes", '#taxes', 'data-toggle' => 'tab'
      - if @myself
        %li
          = link_to 'Messages', '#messages', 'data-toggle' => 'tab'
        %li
          = link_to "History", '#history', 'data-toggle' => 'tab'
    :javascript
      $(document).ready(function() {
        if(window.location.hash != '') {
          $('a[href="' + window.location.hash + '"]').click();
        }
      });

    .tab-content
      #giving{:class => skip ? '' : 'active'}
        %h3 My Giving
        - if @pledges.blank?
          %p I haven't started funding any taxes yet.
        - else
          .grid_6.alpha
            = render :partial => 'shared/pledge', :collection => @pledges, :locals => { :mine => @myself }
          .grid_6.omega
            - if @myself
              .stats
                %h4 Funding:
                %h3= pluralize(@active_count, 'tax')
                %h4 Monthly Total:
                %h3= number_to_currency(@active_count)
                %h4 Given to Date:
                %h3= number_to_currency(@total_given)


      #taxes{:class => skip ? 'active' : ''}
        %h3 My Taxes
        - if admin? && @supervised.blank?
          %p
            I haven't started any yet, but it's free and easy to #{link_to "create a tax", new_tax_path}.
        - else
          .grid_6.alpha
            = render :partial => 'shared/tax', :collection => @supervised, :locals => { :mine => @myself }
          .grid_3.omega.suffix_3
            - if @myself
              .stats
                %h4 Receiving From:
                %h3= pluralize(@supervised_count, 'person')
                %h4 On:
                %h3= pluralize(@supervised.count, 'tax')
                %h4 Monthly Total:
                %h3= number_to_currency(@supervised_sum)
                %h4 Income to Date:
                %h3= number_to_currency(@total_received)

              - if admin?
                .callout
                  %h4= link_to 'Create a tax', new_tax_path

      - if @myself
        #messages
          %h3 Messages
          .grid_8.alpha
            %p You'll receive periodic communications here from the taxes you pledge or subscribe to.
            = render :partial => 'shared/message', :collection => @messages

          .grid_4.omega
            - if @supervised.blank?
              %p If you had started any taxes, you would be able to broadcast messages to their funders.
            - else
              %h4 Send a Message
              %p You can broadcast to all present and future funders of the taxes you manage.
              = link_to 'Compose a message', new_message_path
              %br/
              %br/
              - unless @sent.blank?
                %h4 Messages I've Written
                - icons = { Message::DRAFT => '(Draft)', Message::PUBLISHED => '(Sent)', Message::TRASH => '(Trash)' }
                - @sent.each do |m|
                  = link_to m.effective_title, edit_message_path(m)
                  = raw icons[m.status]
                  %br/

        #history
          .grid_8.alpha
            %h3 Transaction History
            - if @transactions.blank?
              %p You don't have any transactions yet.

            - unless @transactions.blank?
              %br/
              %table{:width => '100%'}
                %thead
                  %tr
                    %th Tax
                    %th Amount
                    %th Type
                    %th Date
                %tbody
                  - @transactions.each do |t|
                    %tr{:style => 'border-top: 1px dotted #aaa;'}
                      %td= link_to t.pledge.tax.name, tax_path(t.pledge.tax.slug)
                      %td= number_to_currency(t.amount)
                      %td= t.kind == Transaction::SENT ? 'Sent' : 'Received'
                      %td= t.created_at.to_date

        .grid_4.omega
          - if Rails.env != 'production'
            .callout
              %b For testing only:
              you may also
              = link_to 'execute these pending transactions now', :controller => 'pledges', :action => 'collect'
              simulating tax-collection day. (This message won't appear in the public release of the site.)

