.comment.clear
  - if comment.editable_by(current_user)
    = link_to 'x', comment_path(comment), :confirm => "Delete #{comment.user == current_user ? 'your' : (h(comment.user.name) + '\'s')} comment, really?", :method => :delete, :class => 'float_right close', :style => 'font-size: 0.8em;'
  %div
    = image_tag comment.user.picture_url(:size => 32), :class => 'icon'
    = link_to h(comment.user.name), comment.user
    = auto_link h(comment.body)
  .small
    = time_ago_in_words(comment.created_at)
    ago