%div{:class => "tax rounded #{pledge.active? ? "active" : "inactive"}"}
  %h4
    = link_to h(pledge.tax.name), tax_path(pledge.tax)
    = "(#{pledge.status_string})" unless pledge.active?
  - if pledge.active?
    = number_to_currency(pledge.tax.monthly_income)
    monthly from #{pluralize(pledge.tax.unique_supporters.count, 'person')}
    %br/
  - if defined?(mine) and mine
    Your pledge: #{number_to_currency(pledge.amount)} / month &middot;
    \#{link_to 'Resume &middot;', :controller => 'pledges', :action => 'start', :id => pledge.id if pledge.paused?}
    \#{link_to 'Pause &middot;',  :controller => 'pledges', :action => 'pause', :id => pledge.id if pledge.active?}
    \#{link_to 'Stop', { :controller => 'pledges', :action => 'stop', :id => pledge.id}, {:confirm => "Are you sure? You can't undo this, except by starting another monthly payment for this tax."} if pledge.active? or pledge.paused?}
    \#{'Ended' if pledge.stopped?}
