%h3 Transactions
%table{:width => '100%'}
  %thead
    %tr
      %th User
      %th Amount
      %th Tax
      %th Date
  %tbody
    - transactions.each do |t|
      %tr{:style => 'border-top: 1px dotted #aaa;'}
        %td= (t.user_id == 0) ? 'LOVELAND' : (link_to h(t.user.name), t.user)
        %td= number_to_currency(t.amount)
        - if t.parent_type == 'Tax'
          %td= link_to h(t.parent.name), tax_path(t.parent.slug)
        - else
          %td= link_to h(t.parent.tax.name), tax_path(t.parent.tax.slug)
        %td= t.created_at.to_date