- @no12 = true
- @subtitle = 'Guide'

.container.container_12
  .grid_12
    %h2 Guide

.container.container_12
  .grid_6
    %p The #{link_to 'Awesome Foundation', 'http://awesomefoundation.org'} distributes a series of monthly $1,000 grants to projects in different cities. The money is pooled together from the coffers of self-organizing "micro-trustees" and given upfront in cash. City chapters are autonomous and organized by the trustees around geographic areas or topics of interest.
    %p You can become a trustee by signing up to pay however much you'd like per month into a city's fund. All your money will go directly to making awesome things happen in the city or cities of your choice. 

    = render :partial => 'shared/share'

    .clear{:style => 'height: 1em;'}
    
    %h3 What kinds of things will your AwesomeTax fund?
    Some examples that have already been funded:
    %ul
      %li Solar-powered glow-in-the-day e-inks
      %li Helium balloon satellite cameras
      %li A new credit union
      %li Massively multi-player laser tag with your phone
      %li A flashmob system for crowdbuying from local businesses

    
    %h3 Terms of Use
    %ul
      %li
        You must abide by
        = link_to "PayPal's Acceptable Use Policy", "https://cms.paypal.com/us/cgi-bin/marketingweb?cmd=_render-content&content_ID=ua/AcceptableUse_full&locale.x=en_US"
        while using AwesomeTax. In short, don't do anything illegal here or we'll cancel all future funding and
        revoke your membership.
      %li We make no guarantee about what the recipients of your taxes do with the money. As such, we cannot offer refunds if they fail to live up to the promises they have written on our site.
      %li
        While it's free to start a tax, when you receive your monthly funding, the standard
        = link_to 'PayPal fees', 'https://www.paypal.com/cgi-bin/webscr?cmd=_display-receiving-fees-outside&countries='
        will be subtracted from your "paycheck."
    
    %h3 Contact info
    %p
      LOVELAND Technologies makes maps and social payment systems. Check out #{link_to 'makeloveland.com', 'http://makeloveland.com'} and #{link_to "Why Don't We Own This?", 'http://whydontweownthis.com'}.
    %p You can reach Jerry Paffendorf any time at jerry@makeloveland.com or 908-343-1981.

  .grid_6
    .callout
      %h3 How to pay a tax
      %ol
        %li #{link_to 'Find a tax', taxes_path} you want to contribute to.
        %li Type in how much you want to pay each month.
        %li Click the "Checkout with PayPal" button.
        %li Follow the directions at the PayPal site to start payments.
        %li Invite your friends to do it too.
        %li Bask in joy.
    
    .callout
      %h3 How to stop paying a tax
      %ol
        %li Go to #{link_to 'your account.', account_path}
        %li Click the "Pause" or "Stop" button. "Pause" stops payments from happening until you unpause &mdash; you can leave it paused for as long as you want &mdash; while "Stop" completely removes the tax from your record.
        %li Eat a sandwich.

    - if admin? or trustee?
      .callout
        %h3 How to start your own
        %ol
          %li Go to #{link_to 'this page', new_tax_path}
          %li Enter the email address you use for #{link_to 'PayPal', 'http://paypal.com'}. #{link_to 'Signing up', 'https://www.paypal.com/cgi-bin/webscr?cmd=_registration-run'} is free and quick.
          %li Enter a title and write a brief description, and then press "Create it."
          %li Invite your friends and social networks to contribute!
