%h2 AwesomeTax Widget

%h3 The Example

- if Tax.count == 0
  %p There aren't any taxes yet so we can't show you a widget. Oops.
  
- else
  #lovetax_widget{'data-id' => Tax.first.id, 'data-host' => "http://#{request.host}"}
  = javascript_include_tag("http://#{request.host}/javascripts/xss_magic.js")
  
  
%h3 The Code
%p Copy and paste this snippet into your HTML page where you want the widget to appear:
%pre.prettyprint
  = "<div id='lovetax_widget' data-id='#{Tax.first.id}' data-host='http://#{request.host}'></div>"
  %br/
  = "<script src='http://#{request.host}/javascripts/xss_magic.js'></script>"
  