%h2 Sign In

= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  %div
    = f.label :email
    .input= f.email_field :email
  %div
    = f.label :password
    .input= f.password_field :password
    
  - if devise_mapping.rememberable?
    .input
      = f.check_box :remember_me
      %span Remember me
  %div
    %br/
    .input= f.submit "Sign in"
    
= render :partial => "devise/shared/links"
