!!!
%html
  %head
    %meta{'http-equiv' => "Content-Type", 'content' => "text/html; charset=iso-8859-1"}
    
  %body
    %p
      Hi #{h(@owner.name)},
      %a{:href => "http://lovetax.us/users/#{@comment.user.id}"}= h(@comment.user.name)
      left a comment on your LoveTax,
      %a{:href => "http://lovetax.us/taxes/#{@comment.tax.id}"}= h(@comment.tax.name)
    
    %p{:style => 'margin: 2em 0'}
      "#{h(@comment.body)}"

    = render :partial => 'shared/email_sig'
        
    
