.container_12
  .grid_12
    %h2 Manage Supporters: #{@tax.name}

  .grid_6
    %h3 Managers
    = render partial: 'users/minitile', collection: @tax.managers, as: :user, locals: {promotion_links: true}
    %br

    %h3 Trustees
    = render partial: 'users/minitile', collection: @tax.trustees, as: :user, locals: {promotion_links: true}
    %br

    %h3 Supporters
    = render partial: 'users/minitile', collection: @supporters, as: :user, locals: {promotion_links: true}
    %br

  .grid_6
    .callout
      %h4 Find People
      #user_search_form
        = form_tag 'home/autocomplete_user_name' do
          = autocomplete_field_tag 'user_name', '', home_autocomplete_user_name_path, :size => 75, :placeholder => 'Type any name', :id => 'user_search_field'
        #user_search_result