.container_12
  .grid_12
    %h2 Start a Chapter
    
- form_for @tax do |f|
  .container_12
    .grid_6.suffix_1
      = f.label "Name your chapter (8-40 characters)"
      %br/
      = f.text_field :name
      %br/
      %br/
      = f.label "Description (at least 20 characters, write as much as you'd like)"
      %br/
      = f.text_area :description, :style => 'height: 10em; width: 100%;'
      %br/
  
    .grid_5
      %h3 PayPal Details
      = f.label "PayPal email address to receive funds"
      %br/
      = f.text_field :paypal_email
      %br/        
      %br/
      = f.label "First name on PayPal account"
      %br/
      = text_field_tag :paypal_first, nil
      %br/
      %br/
      = f.label "Last name on PayPal account"
      %br/
      = text_field_tag :paypal_last, nil
      
    .grid_12
      = f.submit 'Create it'
