- @no12 = true

.container_12
  .grid_8
    %h2 Start a Chapter

    %br/

    = form_for @tax do |f|
      = f.label "Name Your Chapter"
      .input
        = f.text_field :name, :style => 'width: 100%;'
        .help-block Most likely your city's name. 5-40 characters.
      %br/
      = f.label "Summary"
      .input
        = f.text_area :description, :style => 'height: 15em; width: 100%;'
        .help-block
          Tell the world about your chapter, what it's accomplished, and its hopes and dreams.
          Charm us, woo us. Write at least 20 characters, but as much as you'd like.
          Feel free to use
          = link_to 'Markdown', 'http://daringfireball.net/projects/markdown/basics', :target => '_blank'
          formatting.
      %br/
      = f.label "Monthly Minimum"
      .input
        $
        = f.text_field :goal, :class => 'span2'
        .help-block
          The "tipping point" for this chapter. The monthly funding and payout will only happen if
          your funders have pledged at least this much. Otherwise, nobody pays and nobody receives, and you'll
          have to wait until next month's cycle.
          %em Leave it blank or "0" for no minimum.
      %br/

      %h3 Payment Details
      %br
      = f.label "Routing Number"
      .input
        - if Rails.env.production?
          = text_field_tag :routing_number
        - else
          = text_field_tag :routing_number, '110000000'
        .help-block
          US Bank Accounts Only
      %br
      = f.label "Account Number"
      .input
        - if Rails.env.production?
          = text_field_tag :account_number
        - else
          = text_field_tag :account_number, '000123456789'
        .help-block
          No dashes or spaces please
      %br/
      %br/
      = f.submit 'Create It', :class => 'btn'

  .grid_4
    %br/
    %br/
    %br/
    = render :partial => 'shared/markdown_guide'