- @no12 = true
- @subtitle = @tax.name

.container_12.container
  .grid_12
    %h2=h @tax.name
  
  .grid_8
    = auto_link(markdown(@tax.description))
    %p
      Started
      = @tax.created_at.strftime('%b %d %Y')
      - if @tax.active?
        &middot;
        - if @tax.pledges.active.empty?
          Be the first to pledge!
        - else
          = "#{number_to_currency(@tax.monthly_income)} monthly from #{pluralize(@tax.unique_supporters.count, 'person')}"
        - unless @tax.goal.nil?
          (#{number_to_currency(@tax.goal, :precision => 0)} needed)

         
    = render :partial => 'shared/share', :locals => {:url => request.url, :text => "#{h(@tax.name)} | LoveTax" }
    
    %br/
    %h3 Trustees
    = render :partial => 'users/tile', :collection => @tax.managers, :as => :user
    .clear
    
    - unless @pledgers.empty?
      %br/
      %h3.clear Supporters
      .grid_6
        = render :partial => 'users/minitile', :collection => @pledgers[0,(@pledgers.size/2.0).ceil], :as => :user
      .grid_6
        = render :partial => 'users/minitile', :collection => @pledgers[(@pledgers.size/2.0).ceil...@pledgers.size], :as => :user
          

    .clear
    %br/
    = render :partial => 'shared/comments', :locals => { :comments => @tax.comments, :tax => @tax }
  
  .grid_4
    - unless @my_pledges.empty?
      .callout.stats
        %h4 My monthly pledge:
        %h3 #{number_to_currency(@my_pledges.sum(:amount), :precision => 0)} / mo.
        %h4 Total given to date:
        %h3= number_to_currency(@tax.transactions.sent.where(:user_id => current_user.id).sum(:amount), :precision => 0)
        = link_to 'Manage your payments', account_path
        
    .callout
      - if !@tax.active?
        %h4 This tax is no longer active.
      - else
        - form_for @pledge do |f|
          = f.hidden_field :tax_id
          %h4{:style=>'margin-left: 32px; line-height: 25px; margin-bottom: 10px;'} How much would you like to contribute per month?
          %span{:style=>'font-size: 36px; width: 20px; display: inline-block;'} $
          = f.text_field :amount, :class => 'huge_input', :size => 3, :style => 'margin: 0 8px 12px 0px;'
          = image_submit_tag 'https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif', :style => 'margin-left: 32px; border-width: 0px; width: 145px; height: 42px;'
          - unless Rails.env == 'production'
            .help-block
              %br/
              %b Test PayPal like so:
              %ol
                %li= link_to 'Log in at the sandbox', 'http://developer.paypal.com', :target => '_blank'
                %li
                  With
                  %b sheradon@gmail.com
                  and password
                  %b frequency
                %li Come back here and press the checkout button, then use...
                %li
                  Email
                  %b sherad_1274768045_per@gmail.com
                  and password
                  %b frequency
      
    - if admin?
      .callout
        %h4 Admin tools
        = link_to 'Close this tax', { :controller => 'taxes', :action => 'destroy', :id => @tax.id }, { :method => :delete, :confirm => "Are you sure you want to terminate this tax?" } unless @tax.status == Tax::ENDED
            
    - unless user_signed_in?
      .clear{:style=>'height: 1em;'}
      .callout
        %h4 New here?
        %p
          With LoveTax you can easily support people and things you care about in a simple, sustainable, social way.
          Or invite the world to help with your own projects.
          = link_to 'Read our guide', guide_path
          for more!
