- @no12 = true
- @subtitle = @tax.name
- manager = admin? or @tax.managers.include?(current_user)

.container_12.container
  .grid_12
    %h2=h @tax.name
  
  .grid_8
    = auto_link(markdown(@tax.description))
    = render :partial => 'shared/progress', :object => @tax.percent_funded

    %p
      Started
      = @tax.created_at.strftime('%b %d %Y')
      - if @tax.active?
        &middot;
        - if @tax.pledges.active.empty?
          Be the first to pledge!
        - else
          = "#{number_to_currency(@tax.monthly_income)} monthly from #{pluralize(@tax.unique_supporters.count, 'person')}"
        - unless @tax.goal.nil?
          (#{number_to_currency(@tax.goal, :precision => 0)} needed)

         
    = render :partial => 'shared/share', :locals => {:url => request.url, :text => "#{h(@tax.name)} | LoveTax" }
    
    %br/
    %h3
      Trustees
      - if manager
        = link_to '+', '#', :id => 'add_trustee_link'
    - if manager
      %div{:style => 'position: relative;'}
        #invite.hide{:style => 'position: absolute; width: 240px; height: auto; left: 160px; top: -50px; background-color: white; padding: 1em; border: 1px solid #888;'}
          = link_to 'x', '#', :id => 'close_invite', :style => 'display: block; position: absolute; right: 10px; top: 10px;'
          = render :partial => 'shared/invite', :locals => { :tax => @tax }
        :javascript
          $(document).ready(function(e) {
            $('#add_trustee_link, #close_link').click(function(e) {
              $('#invite').toggleClass('hide');
              return false;
            });
            $('#close_invite').click(function(e) {
              $('#invite').addClass('hide');
              return false;
            });
          });
      
    = render :partial => 'users/tile', :collection => @tax.managers, :as => :user
    .clear
    
    - unless @pledgers.empty?
      %br/
      %h3.clear Supporters
      .grid_6
        = render :partial => 'users/minitile', :collection => @pledgers[0,(@pledgers.size/2.0).ceil], :as => :user
      .grid_6
        = render :partial => 'users/minitile', :collection => @pledgers[(@pledgers.size/2.0).ceil...@pledgers.size], :as => :user
          

    .clear
    %br/
    = render :partial => 'shared/comments', :locals => { :comments => @tax.comments, :tax => @tax }
  
  .grid_4
    - unless @my_pledges.empty?
      .callout.stats
        %h4 My monthly pledge:
        %h3 #{number_to_currency(@my_pledges.sum(:amount), :precision => 0)} / mo.
        %h4 Total given to date:
        %h3= number_to_currency(@tax.transactions.sent.where(:user_id => current_user.id).sum(:amount), :precision => 0)
        = link_to 'Manage your payments', account_path
        
    .callout
      - if !@tax.active?
        %h4 This tax is no longer active.
      - else
        - form_for @pledge do |f|
          = f.hidden_field :tax_id
          %h4{:style=>'margin-left: 32px; line-height: 25px; margin-bottom: 10px;'} How much would you like to contribute per month?
          %span{:style=>'font-size: 36px; width: 20px; display: inline-block;'} $
          = f.text_field :amount, :class => 'huge_input', :size => 3, :style => 'margin: 0 8px 12px 0px;'
          %br/
          %p.small You're signing up to make one payment per month for 12 months, but can change this or cancel at any time.
          = image_submit_tag 'https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif', :style => 'margin-left: 32px; border-width: 0px; width: 145px; height: 42px;'
          - unless Rails.env == 'production' or Rails.env == 'staging'
            .help-block
              %br/
              %b Test PayPal like so:
              %ol
                %li= link_to 'Log in at the sandbox', 'http://developer.paypal.com', :target => '_blank'
                %li
                  With
                  %b sheradon@gmail.com
                  and password
                  %b frequency
                %li Come back here and press the checkout button, then use...
                %li
                  Email
                  %b sherad_1274768045_per@gmail.com
                  and password
                  %b frequency
      
    - if manager
      = javascript_include_tag 'bootstrap-modal.js'
      .callout
        %h4 Admin tools
        = link_to 'Edit this tax', edit_tax_path(@tax.slug)
        %br/
        = link_to 'Message all supporters', new_message_path(:tax_id => @tax.id)
        %br/
        = link_to 'Invite a trustee', admin_path(:anchor => 'users')
        %br/
        = link_to 'Get embed code', '#', { 'data-controls-modal' => "embed", 'data-keyboard' => 'true' }
        %br/
        = link_to 'Close this tax', { :controller => 'taxes', :action => 'destroy', :id => @tax.id }, { :method => :delete, :confirm => "Are you sure you want to terminate this tax?" } unless @tax.status == Tax::ENDED
        .modal.hide.fade{:id => "embed"}
          .modal-header
            %a.close{:href => '#'} x
            %h3 Embed code for #{@tax.name}
          .modal-body
            %pre.prettyprint
              = "<div id='lovetax_widget' data-id='#{@tax.id}' data-host='http://#{request.host}'></div>"
              %br/
              = "<script src='http://#{request.host}/javascripts/xss_magic.js'></script>"
          .modal-footer
            = link_to 'Close', '#', :class => 'btn close'
        :javascript
          $('a.close', this).click(function(e) {
            $(container).modal('hide');
            return false;
          });

            
    - unless user_signed_in?
      .clear{:style=>'height: 1em;'}
      .callout
        %h4 New here?
        %p
          With LoveTax you can easily support people and things you care about in a simple, sustainable, social way.
          Or invite the world to help with your own projects.
          = link_to 'Read our guide', guide_path
          for more!
