- @no12 = true
- @subtitle = @tax.name
- manager = admin? || @tax.managers.include?(current_user)

.container_12.container
  .grid_12
    %h2
      =h @tax.name
    %h4="Next Collection Date: " + Date.today.at_beginning_of_month.next_month.strftime("%A, %B %e") + " (" + distance_of_time_in_words(Date.today, Date.today.at_beginning_of_month.next_month) + " from now)"

  .grid_8
    = raw auto_link(markdown(@tax.description))
    = render :partial => 'shared/progress', :object => @tax.percent_funded

    %p
      Started
      = @tax.created_at.strftime('%b %d %Y')
      - if @tax.active?
        &middot;
        - if @tax.pledges.active.empty?
          Be the first to pledge!
        - else
          = "#{number_to_currency(@tax.monthly_income)} monthly from #{pluralize(@tax.unique_supporters.count, 'person')}"
        - unless @tax.goal.nil? or @tax.goal == 0
          (#{number_to_currency(@tax.goal, :precision => 0)} needed)
        = link_to "Collection History", "#{@tax.slug}/history"

    = render :partial => 'shared/share', :locals => {:url => request.url, :text => "#{h(@tax.name)} | AwesomeTax" }

    %br/
    %h3
      Trustees

    = render :partial => 'users/tile', :collection => @tax.supervisors, :as => :user
    .clear

    - unless @pledgers.empty?
      %br/
      %h3.clear Supporters
      .grid_6
        = render :partial => 'users/minitile', :collection => @pledgers[0,(@pledgers.size/2.0).ceil], :as => :user, locals: {promotion_links: false}
      .grid_6
        = render :partial => 'users/minitile', :collection => @pledgers[(@pledgers.size/2.0).ceil...@pledgers.size], :as => :user, locals: {promotion_links: false}

    .clear
    %br/
    = render :partial => 'shared/comments', :locals => { :comments => @tax.comments, :tax => @tax }

  .grid_4
    - unless @my_pledges.empty?
      .callout.stats
        %h4 My monthly pledge:
        %h3 #{number_to_currency(@my_pledges.sum(:amount), :precision => 0)} / mo.
        %h4 Total given to date:
        %h3= number_to_currency(@tax.transactions.sent.where(:user_id => current_user.id).sum(:amount), :precision => 0)
        = link_to 'Manage your payments', account_path

    .callout
      - if !@tax.active?
        %h4 This tax is no longer active.
      - else
        = render partial: "/shared/new_pledge", locals: {pledge: @pledge}

    - if has_partial_tax_powers?(@tax.id)
      .callout
        %h4 Trustee tools
        = link_to 'Edit this tax', edit_tax_path(@tax.slug)
        %br/
        = link_to 'Message all supporters', new_message_path(:tax_id => @tax.id)
        %br/
        = link_to 'Get embed code', '#', { 'data-toggle' => "modal", 'data-target' => "#embed", 'data-keyboard' => 'true' }
        %br/
        .modal.hide.fade{:id => "embed"}
          .modal-header
            %a.close{:href => '#', 'data-dismiss' => "modal"} x
            %h3 Embed code for #{@tax.name}
          .modal-body
            %pre.prettyprint
              = "<div id='lovetax_widget' data-id='#{@tax.id}' data-host='http://#{request.host}'></div>"
              %br/
              = "<script src='http://#{request.host}/assets/xss_magic.js'></script>"

    - if has_full_tax_powers?(@tax.id)
      .callout
        %h4 Manager Tools
        = link_to 'Manage trustees', tax_roles_path(@tax.slug)
        %br/
        = link_to 'View Transactions', tax_transactions_path(@tax.slug)
        %br/
        = link_to 'Close this tax', { :controller => 'taxes', :action => 'destroy', :id => @tax.id }, { :method => :delete, :confirm => "Are you sure you want to terminate this tax?" } unless @tax.status == Tax::ENDED


    - unless user_signed_in?
      .clear{:style=>'height: 1em;'}
      .callout
        %h4 New here?
        %p
          With AwesomeTax you can easily support people and things you care about in a simple, sustainable, social way.
          Or invite the world to help with your own projects.
          = link_to 'Read our guide', guide_path
          for more!
