!!!
%head
  %title
    - if defined?(@subtitle)
      = "#{@subtitle} -"
    AwesomeTax
    - if Rails.env != 'production'
      = "(#{Rails.env})"
  %meta{:content => "", :name => "description"}/
  %meta{:content => "", :name => "author"}/
  %meta{:charset => "utf-8"}/
  %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/

  %link{:rel => "image_src", :type => "image/jpeg", :href => "http://#{request.host}/images/seal.png"}
  %link{:rel => "apple-touch-icon", :href => "/images/seal.png"}
  %meta{:property => "og:image", :content => "http://#{request.host}/images/seal.png"}
  %meta{:property => "og:title", :content => (defined?(@subtitle) ? "#{@subtitle}: " : '') + " - AwesomeTax"}
  %meta{:property => "og:type", :content => (params[:controller] == 'home' and params[:action] == 'index') ? 'website' : 'article'}
  %meta{:property => "og:url", :content => request.url}
  %meta{:property => "fb:admins", :content => "2901636,620415163"}


  %link{:href => "/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/
  = stylesheet_link_tag 'application'
  = csrf_meta_tag

%body{:class => "#{controller_name} #{action_name}"}
  .topbar-wrapper{:style => "z-index: 5;"}
    .topbar{'data-dropdown' => 'dropdown'}
      .topbar-inner
        .container
          .h3.float_left= link_to 'AwesomeTax', root_path
          %ul.nav
            - if false
              %li{:class => current_page?(mock_path)  ? 'active' : ''}= link_to 'Widget',   mock_path
            %li= link_to 'Foundation', 'http://awesomefoundation.org', :target => '_blank'

          - if user_signed_in?
            %ul.nav.secondary-nav
              %li.dropdown
                %a.dropdown-toggle{:href => '#'}= current_user.name
                %ul.dropdown-menu
                  %li= link_to 'My Account',        account_path
                  %li= link_to 'Edit Account',      edit_user_registration_path
                  - if admin?
                    %li= link_to 'Administration',  admin_path
                  %li.divider
                  %li= link_to 'Sign Out',          logout_path
          - else
            %ul.nav.secondary-nav
              %li= link_to 'Sign In', login_path
              %li= link_to 'Register', new_user_registration_path
    .clear
  - if flash[:notice]
    .container_12.container
      .grid_12.centered.alert-message= flash[:notice]
  - if flash[:alert]
    .container_12.container
      .grid_12.centered.alert-message.warning= flash[:alert]
  - if session[:pledge_amount] && params[:controller] == 'devise/sessions' || params[:controller] == 'registrations'
    = render :partial => "shared/pledge_notification"

  - if defined?(@no12) and @no12
    = yield
  - else
    .container_12.container
      .grid_12
        = yield

  .clear{:style => "height: 3em;"}

  = javascript_include_tag 'application'

  %script{:src => "http://use.typekit.com/szj4uep.js", :type => "text/javascript"}
  :javascript
    try{Typekit.load();}catch(e){}
  :javascript
    var _gaq = [['_setAccount', '#{AppConfig.analytics_key}'], ['_trackPageview']];
    (function(d, t) {
     var g = d.createElement(t),
         s = d.getElementsByTagName(t)[0];
     g.async = true;
     g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     s.parentNode.insertBefore(g, s);
    })(document, 'script');
