!!!
%head
  %title= defined?(@subtitle) ? "#{h(@subtitle)} - LoveTax" : "LoveTax"
  %meta{:content => "", :name => "description"}/
  %meta{:content => "", :name => "author"}/
  %meta{:charset => "utf-8"}/
  %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
  %link{:href => "/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/
  = stylesheet_link_tag 'bootstrap', '960', 'lovetax'
  = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js'

%body
  #top.tk-league-gothic
    .container_12.container
      .grid_12
        %ul.nav
          %li
            AWESOME
            %span{:style => "color: #444;"}> TAX
          %li= link_to 'Home', root_path
          %li= link_to 'Chapters', taxes_path
          %li= link_to 'Widget', mock_path
          - if user_signed_in?
            %li
              = link_to 'My Account', account_path
              %ul
                - if admin? or board?
                  %li= link_to 'Administration', admin_path
                %li= link_to 'My Taxes', account_path
                %li= link_to 'My History', history_path
                %li= link_to 'Edit Profile', edit_account_path
                %li= link_to 'Log out', destroy_user_session_path
          - else
            %li= link_to 'Log In', new_user_session_path
    .clear
  - if flash[:notice]
    .container_12.container
      .grid_12.centered.alsert-message= flash[:notice]
      
  - if defined?(@no12) and @no12
    = yield
  - else
    .container_12.container
      .grid_12
        = yield
    / ! end of #container
  .clear{:style => "height: 3em;"}
  / Javascript at the bottom for fast page loading
  %script{:src => "http://use.typekit.com/szj4uep.js", :type => "text/javascript"}
  :javascript
    try{Typekit.load();}catch(e){}
  :javascript
    var _gaq = [['_setAccount', '#{AppConfig.analytics_key}'], ['_trackPageview']];
    (function(d, t) {
     var g = d.createElement(t),
         s = d.getElementsByTagName(t)[0];
     g.async = true;
     g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     s.parentNode.insertBefore(g, s);
    })(document, 'script');
  